body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    }
h1{font-size: 50px;}
h2{font-size: 40px;
    text-align: center;}
h3{font-size: 30px;}
p{color: rgb(0, 0, 0);}
.speech{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    }
.speech img{
    width: 100%;
    }
.top-banner{
    background-image: url("Images/image\ 2.png");
    background-repeat: no-repeat;
    background-position: center;
    border-color: black;
    border-style: solid;
    }
section{
    height: 400px;
    padding-bottom: 150px;
    }
.link-button{
    text-decoration: none;
    background-image: linear-gradient;
    background-color: rgb(203, 94, 112);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    }
.bottom-banner{
    background-image: url("Images/image\ 1.png");
    background-repeat: no-repeat;
    background-position: left;
    }
.portfolio{
    background-image: url("Images/half-round-gap.png");
    background-repeat: no-repeat;
    }
.works{
    box-shadow: 5px 5px;
    border-radius: 5px;
    height: 30%;
    background-color: rgb(186, 186, 186);
    }
#p-work{
    border-left: 6px solid;
    border-image: linear-gradient(90deg, blue, cyan);
    border-image-slice: 1;
    }
#t-work{
    border-left: 6px solid;
    border-image: linear-gradient(90deg, lightsalmon, tomato);
    border-image-slice: 1;
    }
footer p{
    text-align: center;
    }    